.CodeMirror {
  min-height: 100%;
  font-size: 20;
  line-height: 1.6;
  border-radius: 8px;
  max-width: 76vw;
}
@media (max-width: 640px) {
  .CodeMirror {
    min-height: 100%;
    font-size: 20;
    line-height: 1.6;
    border-radius: 8px;
    max-width: 100%;
  }
}